// --------------------------------------------------------
// COLORS

$primary-color:             theme('colors.primary.600');
$primary-color-lighter:     theme('colors.primary.200');
$primary-color-darker:      theme('colors.primary.700');

$secondary-color:           theme('colors.secondary.600');
$secondary-color-lighter:   theme('colors.secondary.200');
$secondary-color-darker:    theme('colors.secondary.700');