@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'base';

@import 'cards';
@import 'grid';
@import 'list';
@import 'picture';

:root {
  --app-height: 100vh;
}

section {
  @apply fixed top-0 left-0 right-0 h-full flex flex-col overflow-hidden justify-center mt-0;

  height: var(--app-height);
}

.display {
  @apply flex text-center items-center flex-col justify-center;

  h1 {
    @apply relative text-4xl tracking-tight;

    &:before,
    &:after {
      @apply absolute inset-x-0 bg-primary-600 h-3;

      content: '';
    }

    &:before {
      top: 1rem;
    }

    &:after {
      bottom: -0.5rem;
    }
  }

  p {
    @apply mt-8 text-xl tracking-wide;
  }
}

.container {
  @apply mx-auto;
}